html{
    width: 100%;
    height: 100%;
}



body{
    width: 100%;
    height: 100%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
}

header div{
    margin-left: 10px;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
}

main div{
    width: 50%;
    margin-bottom: 100px;
    border: 2px solid yellowgreen;
    border-radius: 50% 20% / 10% 40%;
    padding: 20px 20px;

}
main table{
    width: 70%;
    margin-bottom: 100px;
    border: 2px solid yellowgreen;
    text-align: left;
    border-radius: 50% 20% / 10% 40%;
    padding: 20px 20px;
}

nav button{
    background: #151b29;
    color:#ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 0.8em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    border-radius: 5px;
}

nav button:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}













